.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: auto; /* Full height */
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1; /* Ensures content is above the animation */
  padding: 20px;
  color: white;
  /* Adjust text color as needed */
}
